@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 200 50% 3%;
      --btn-background: 200 10% 9%;
      --btn-background-hover: 200 10% 12%;
      --foreground: 200 20% 96%;
    }
  }
}

@layer base {
  /* Estilos para títulos */
  h1 {
    @apply text-4xl font-bold text-gray-900 mb-4;
  }

  h2 {
    @apply text-3xl font-semibold text-gray-900 mb-3;
  }

  h3 {
    @apply text-2xl font-medium text-gray-900 mb-2;
  }

  h4 {
    @apply text-xl font-medium text-gray-900 mb-2;
  }

  /* Estilos para parágrafos */
  p {
    @apply text-base text-gray-700 mb-4 leading-relaxed;
  }

  /* Estilos para listas */
  ul,
  ol {
    @apply list-inside list-disc;
  }

  /* Estilos para citações */
  blockquote {
    @apply italic border-l-4 border-gray-300 pl-4 text-gray-600 mb-4;
  }
}

.custom-height {
  height: calc(
    100vh - 200px
  ); /* Substitua 100px pela altura do seu cabeçalho ou footer */
}
